@font-face {
font-family: "fontello";
src:url("assets/icons/fontello.eot");
src:url("assets/icons/fontello.eot") format("embedded-opentype"),
  url("assets/icons/fontello.woff") format("woff"),
  url("assets/icons/fontello.woff2") format("woff2"),
  url("assets/icons/fontello.ttf") format("truetype"),
  url("assets/icons/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

@font-face {
font-family: "hidden vines";
src:url("assets/icons/JIHiddenVines.ttf");
src:url("assets/fonts/JIHiddenVines.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

body {
  min-height: 100vh;
  background: -webkit-radial-gradient( left bottom, circle farthest-corner, #fd843e, #e4e00a);
  background: radial-gradient( farthest-corner circle at left bottom, #fd843e, #cfb20d);
  /* background: url(Assets/img/wallpaper.jpg); */
  background-size: cover;
  font-family: "hidden vines";
}

ul {
  list-style-type: none;
}

header {
  width: 100%;
  height: 45px;
  margin: 40px auto 0;
}

.btn {
  margin: 0;
}

/* ========== Home menu burger ========== */

.menu-toggler {
  display: inline-block;
  position: relative;
  width: 1.2em;
  height: 1.5em;
  vertical-align: middle;
  z-index: 4;
}

.menu-toggler input {
  position: absolute;
  width: 40px;
  height: 32px;
  top: 0px;
  left: -11px;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
  -webkit-touch-callout: none;
}
  
/*.menu-toggler:after, 
  .menu-toggler:before,  */
  .menu-toggler div {
    background-color: #5a5d63;
    content: '';
    display: block;
    height: 2px;
    margin: 6px 0;
    transition: all .5s ease-in-out;
    display: block;
/*  position: absolute; */
  }
  
.menu-toggler input:checked~div:nth-child(2) {
  transform: translateY(8px) rotate(135deg);
}

.menu-toggler input:checked~div:nth-child(4)  {
  transform: translateY(-8px) rotate(-135deg);
}

.menu-toggler input:checked~div:nth-child(3) {
  transform: scale(0,0);
}

/* .menu-toggler[data-menuswitch='hidden'] {
  transform: rotate(0deg);
  transition: all .5s ease-in-out;
} */

ul.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;;
  top: 0px;
  left: -1px;
  width: 278px;
  height: calc(100vh + 1px);
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: -webkit-radial-gradient( left bottom, circle farthest-corner, #3e6bfd, #e4aa0a);
  background: radial-gradient( farthest-corner circle at left bottom, #3e6bfd, #e4aa0a);
  box-shadow: 13px 0px 16px #0005;
  transition: all .5s ease-in-out;
  z-index: 3;
}

ul.menu[data-menuswitch='hidden'] {
  transform: translateX(-110%);
  transition: all .5s ease-in-out;
}

ul.menu li { 
  margin: 0px 0px calc(100vh*27/812) 33px;
}

ul.menu li a {
  margin: 0;
  font-family: "hidden vines", "Lato", sans-serif;
  font-size: 24px;
  display: inline-block;
  font-weight: 300;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.active {
/* border-bottom: dotted 3px; */
background: repeating-linear-gradient(-60deg, #fff 0, #fff 1px, transparent 1px, transparent 5px);
}

.play-button {
  transform: translate(30%, -300%);
}

/* ================ Cards ================ */

.card {
  width: 18.75rem;
  height: 17.5rem;
  /* background: linear-gradient(180deg,#fd6a63,#feb46b 40%,#fff 0,#fff); */
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.4);
}

@media screen and (max-width: 1391px) and (min-width: 1044px) {
  .wrapper.d-flex::after {
    content: '';
    display: block;
    margin: 1.5rem;
    width: 18.75rem;
    height: 17.5rem;
  }
}

.card .card-up {
  height: 40%;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  transition: all ease-in-out 0.5s;
}

.card .avatar {
/*  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  transform: translateY(-50%);
  margin-bottom: -40%;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}

.card .avatar img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 2s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: inherit;
  background-color: #fff;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-back img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.card-cover .flip-card-back img, .card-cover .flip-card-front img {
  background-size: cover;
  background-position: 50%;
}

.rotate-icon {
  position: absolute;
  bottom: 34px;
  right: 29px;
  transition: transform ease-in-out 1s;
}

.rotate-icon::before {
  content: "\e001";
  font-family: "fontello";
}

.rotate-icon:hover {
  transform: rotate(360deg);
  transition: transform all ease-in-out 1s;
}

/* ================ Game-related  ================ */

.play-mode-color {
  /* background: -webkit-radial-gradient( left bottom, circle farthest-corner, #ffd6ee, #7873f5);
  background: radial-gradient( farthest-corner circle at left bottom, #ffd6ee, #7873f5); */

  background: linear-gradient(40deg, #ffd6ee, #7873f5) !important;  
}

.card-img-top.play-mode {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: auto;
  align-items: center;
  /* transform: translateX(-10%); */
}

/* .play-mode {
  background: url(Assets/img/sakura_petals.gif) 57% 74%;
} */

.play-button.shown {
  transform: translate(30%, 0%);
}

/* ================ VOLUME ================ */

#volume {
  display: flex;
  margin: 0 auto;
}

input[type='range'] {
  border: solid 4em transparent;
  align-self: center;
  padding: 0;
  width: 25.5em;
  height: 3.375em;
  border-radius: .25em;
  background: linear-gradient(#eabd22, #eabd22) no-repeat left 7.75em bottom 7.375em, linear-gradient(#eabd22, #eabd22) no-repeat left 8.75em bottom 7.375em, linear-gradient(#eabd22, #eabd22) no-repeat left 9.75em bottom 7.375em, linear-gradient(#eabd22, #eabd22) no-repeat left 10.75em bottom 7.375em, linear-gradient(#eabd22, #eabd22) no-repeat left 11.75em bottom 7.375em, linear-gradient(#eabd22, #eabd22) no-repeat left 12.75em bottom 7.375em, linear-gradient(#eabd22, #eabd22) no-repeat left 13.75em bottom 7.375em, linear-gradient(#eabd22, #eabd22) no-repeat left 14.75em bottom 7.375em, linear-gradient(#eabd22, #eabd22) no-repeat left 15.75em bottom 7.375em, linear-gradient(#eabd22, #eabd22) no-repeat left 16.75em bottom 7.375em, linear-gradient(#eabd22, #eabd22) no-repeat left 17.75em bottom 7.375em, linear-gradient(#eabd22, #eabd22) no-repeat left 18.75em bottom 7.375em;
  background-origin: border-box;
  background-size: 0.875em 0.0625em, 0.875em 0.125em, 0.875em 0.1875em, 0.875em 0.25em, 0.875em 0.3125em, 0.875em 0.375em, 0.875em 0.4375em, 0.875em 0.5em, 0.875em 0.5625em, 0.875em 0.625em, 0.875em 0.6875em, 0.875em 0.75em;
  font-size: 0.5rem;
  cursor: pointer;
  /* slider components */
}
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border: none;
  padding: .375em;
  width: 19.5em;
  height: 2.25em;
  border-radius: 1.125em;
  box-shadow: inset 0 -1px 1px #fff, inset 0 .5em .5em #c4c4c4, inset 0 0 0 .375em #efefef,  inset 0 1px .125em .375em black,  inset 0 0 0 1px #eee;
  background: linear-gradient(#f5f5f5, #eeeeee 35%, #bfbfbf);
}
.js input[type='range']::-webkit-slider-runnable-track {
  background: linear-gradient(#f8dd36, #d88606) no-repeat, linear-gradient(#f5f5f5, #eeeeee 35%, #bfbfbf);
  background-size: 50% 100%, 100% 100%;
}
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  border: none;
  padding: .375em;
  width: 25.5em;
  height: 2.25em;
  border-radius: 1.125em;
  box-shadow: inset 0 -1px 1px #fff, inset 0 .5em .5em #c4c4c4, inset 0 0 0 .375em #efefef,  inset 0 1px .125em .375em black,  inset 0 0 0 1px #eee;
  background: linear-gradient(#f5f5f5, #eeeeee 35%, #bfbfbf);
}
.js input[type='range']::-moz-range-track {
  background: linear-gradient(#f8dd36, #d88606) no-repeat, linear-gradient(#f5f5f5, #eeeeee 35%, #bfbfbf);
  background-size: 50% 100%, 100% 100%;
}
input[type='range']::-ms-track {
  box-sizing: border-box;
  border: none;
  padding: .375em;
  width: 19.5em;
  height: 2.25em;
  border-radius: 1.125em;
  box-shadow: inset 0 -1px 1px #fff, inset 0 .5em .5em #c4c4c4, inset 0 0 0 .375em #efefef,  inset 0 1px .125em .375em black,  inset 0 0 0 1px #eee;
  background: linear-gradient(#f5f5f5, #eeeeee 35%, #bfbfbf);
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  border-radius: 1.125em;
  box-shadow: inset 0 1px .25em #777;
  background: linear-gradient(#f8dd36, #d88606) no-repeat;
}
input[type='range']::-ms-tooltip, input[type='range']::-ms-fill-upper {
  display: none;
}
input[type='range']::-webkit-slider-thumb {
  margin-top: -.375em;
  box-sizing: border-box;
  border: none;
  padding: .375em;
  width: 2.25em;
  height: 2.25em;
  border-radius: 50%;
  box-shadow: 0 .375em .5em -.125em #808080,  inset 0 -.25em .5em -.125em #bbb;
  background: linear-gradient(#c5c5c5, #efefef) content-box, linear-gradient(#fdfdfd, #c4c4c4) border-box;
  cursor: ew-resize;
}
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  padding: .375em;
  width: 2.25em;
  height: 2.25em;
  border-radius: 50%;
  box-shadow: 0 .375em .5em -.125em #808080,  inset 0 -.25em .5em -.125em #bbb;
  background: linear-gradient(#c5c5c5, #efefef) content-box, linear-gradient(#fdfdfd, #c4c4c4) border-box;
  cursor: ew-resize;
}
input[type='range']::-ms-thumb {
  box-sizing: border-box;
  border: none;
  padding: .375em;
  width: 2.25em;
  height: 2.25em;
  border-radius: 50%;
  box-shadow: 0 .375em .5em -.125em #808080,  inset 0 -.25em .5em -.125em #bbb;
  background: linear-gradient(#c5c5c5, #efefef) content-box, linear-gradient(#fdfdfd, #c4c4c4) border-box;
  cursor: ew-resize;
}
input[type='range']::-webkit-slider-runnable-track,
input[type='range'] /deep/ #track {
  position: relative;
}
input[type='range']::-webkit-slider-runnable-track:before, input[type='range']::-webkit-slider-runnable-track:after,
input[type='range'] /deep/ #track:before,
input[type='range'] /deep/ #track:after {
  position: absolute;
  bottom: 2.475em;
  text-transform: uppercase;
}
input[type='range']::-webkit-slider-runnable-track:before,
input[type='range'] /deep/ #track:before {
  left: 1em;
  content: 'min';
}
input[type='range']::-webkit-slider-runnable-track:after,
input[type='range'] /deep/ #track:after {
  right: 1em;
  text-align: right;
  content: 'max';
}
input[type='range']:focus {
  outline: none;
  /* box-shadow: 0 .125em .125em #fff;
  background-color: rgba(255, 255, 255, 0.32); */
}

/* ================ BONUS ================ */

#blossom_container {
  width:100%;
  height:100%;
}
.petal {
  background: url(http://talktofill.surge.sh/cherry-blossom.png) no-repeat;
}
.petal.petal-style1 {
  width: 45px;
  height: 20px;
  background-position: -31px 0;
}
.petal.petal-style2 {
  width: 42px;
  height: 22px;
  background-position: 0 -23px;
}
.petal.petal-style3 {
  width: 37px;
  height: 24px;
  background-position: 0 -50px;
}
.petal.petal-style4 {
  width: 26px;
  height: 34px;
  background-position: -49px -35px;
}

/* ================ BONUS ================ */

@media screen and (min-width: 350px) {
  header {
    max-width: 300px;
  }
}

@media screen and (min-width: 696px) {
  header {
    max-width: 647px;
  }
}

@media screen and (min-width: 1044px) {
  header {
    max-width: 992px;
  }
}

@media screen and (min-width: 1392px) {
  header {
  max-width: calc(1392px - 1.5rem*2);
  }
}
